.notFoundContainer {
    width: 100vw;
    height: 100vh;
}

.notFoundTextColumn {
    @include flexColumn;
    position: absolute;
    z-index: 20;
    width: 45.156%;
    min-width: 550px;
    max-width: 867px;
    height: 100vh;
    background-color: $silver;
    color: $blue;
    justify-content: center;
    align-items: left;
    padding: 10% 5% 10% 5%;
    z-index: 12;
  }

  .headingNotFound{
    width: 200px;
    text-align: left;
    letter-spacing: 0;
    color: $blue;
    opacity: 1;
    font-family: "Akkurat";
    font-size: 76px;
    font-weight: 400;
    margin-bottom: 1.45rem;
}

.notFoundBodyCopy {
    line-height: 1.4em;
    font-size: 42px;
    font-family: "Brown";
    font-weight: 400;
    color: $blue;
    width: 425px;
    height: 114px;
    text-align: left;
    letter-spacing: 0;
    margin-bottom: 1.45rem;
  }


.notFoundSocialsDiv {
    @include flexRow;
    @include justifySBAndAlignCenter;
    position: absolute;
    bottom: 5%;
    font-size: 14px; 
    min-width: 120px;
}

.notFoundHero {
    @include flexRow;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 10;
    margin-left: auto;
    overflow: hidden;
    justify-content: flex-end;

}

.studentAccomTextNotFound{
    @include justifySBAndAlignCenter;
    position: absolute;
    bottom: 2.5%;
    right: 5%;
    font-size: 16px;
    font-family: "Akkurat";
    color: $blue;
    text-align: left;
    letter-spacing: 0;
    display: flex;
    align-items: flex-end;
}

.LineSvg{
    fill: none;
    stroke: $blue;
    position: absolute;
    // margin-top: 200px;
    // left: 700px;
    top:49px;
    right: 0.5%;
    z-index: 120
}

.goHomeButton{
    width: fit-content;
    height: fit-content;
    display: flex;
    color: $light;
    background-color: $blue;
    padding: 5px 30px 5px 30px;
    font-family: "akkurat";
    font-size: 12px;
    cursor: pointer;
    outline: none;
    border: 0;
}

.goHomeButton:hover {
    background-color: $red;
}