$orange: #ff782e;
$dark: #727272;
$blue: #001a7d;
$light: #fff5e0;
$silver: #E5E8E8;
$red: #EF3E25;
$green: #3b4500;
// gedeon
$color-black: #000;
$color-header: #F03D26;

$break: 992px;
// Space page
$break--space: 62em;
$smallBreak--space: 37.5em;
$midBreak--space: 81.25em;
////////////////////
$smallBreak: 600px;
$midBreak:1300px;

$desktopBreakPoint: 1366px;
$tabletBreakPoint: 1080px;
$mobilePlusBreakPoint: 768px;
$mobileBreakPoint: 375px;

$colourChangeDuration: 1s;

// font sizes
$xxxsmall-body-copy: 12px;
$xxsmall-body-copy: 14px;
$xsmall-body-copy: 16px;
$base-font-size: 17px;
$body-copy: 20px;
$large-body-copy: 24px;
$xlarge-body-copy: 35px;
$sub-heading-copy: 42px; 
$main-heading-copy: 54px;

//line height
$base-line-height: 1.2;